[submodule "lib/lib/ds-auth"]
	path = lib/lib/ds-auth
	url = https://github.com/dapphub/ds-auth
[submodule "lib/lib/ds-math"]
	path = lib/lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/lib/ds-note"]
	path = lib/lib/ds-note
	url = https://github.com/dapphub/ds-note
[submodule "lib/lib/ds-stop"]
	path = lib/lib/ds-stop
	url = https://github.com/dapphub/ds-stop
[submodule "lib/lib/ds-test"]
	path = lib/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/lib/ds-token"]
	path = lib/lib/ds-token
	url = https://github.com/dapphub/ds-token
